@import "../scss/variables";
.lodgment-details {
  .lodgment-details__carousel {
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 1.3;
    max-height: 500px;
    object-fit: cover;
    @media (min-width: 1024px) {
      aspect-ratio: 3;
    }
  }
  .lodgment-details__title {
    font-size: 18px;
    font-weight: 500;
    color: $primary-color;
    @media (min-width: 1024px) {
        font-size: 36px;
    }
  }

  .lodgment-details__location {
    font-size: 14px;
    font-weight: 500;
    @media (min-width: 1024px) {
      font-size: 18px;
    }
  }
  .lodgment-details__tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .tags-list__item {
      border-radius: 10px;
      min-width: 84px;
      width: fit-content;
      padding: 3px 20px;
      background-color: $primary-color;
      color: white;
      font-weight: 700;
      font-size: 10px;
      @media (min-width: 1024px) {
        font-size: 14px;
      }
    }
  }
  .rating-and-host {
    display: flex;
    justify-content: space-between;
    .rating {
      .rating__star {
        color: $gray-light;
      }
      .rating__star.fill {
        color: $primary-color;
      }
    }
  }
  .host {
    display: flex;
    align-items: center;
    gap: 10px;
    .host__name {
      width: min-content;
      text-align: right;
      font-size: 12px;
      line-height: 17px;
      font-weight: 500;
      color: $primary-color;
    }
    .host__picture {
      width: 32px;
      height: 32px;
      border-radius: 99999px;
    }
  }
  .description-and-equipments {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @media (min-width: 1024px) {
      flex-wrap: nowrap;
      gap: 80px;
    }
    .details {
      flex:  100%;
      background-color: $bg-gray-light;
      .details__summary {
        background-color: $primary-color;
        padding: 7px;
        font-size: 13px;
        font-weight: 700;
        color: white;
        border-radius: 5px;
        @media(min-width: 1024px) {
          font-size: 18px;
          padding: 15px;
        }
      }
      .details__content {
        padding: 20px 10px;
      }
    }
  }
}