@import "../../scss/variables";
.lodgment-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .lodgment-details__infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
    }
    .infos__titles-and-tags {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      .titles-and-tags__titles {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: space-between;
        @media (min-width: 1024px) {
          gap: 0;
        }
        .titles__title {
          font-size: 18px;
          font-weight: 500;
          color: $primary-color;
          @media (min-width: 1024px) {
            font-size: 36px;
          }
        }
        .titles__location {
          font-size: 14px;
          font-weight: 500;
          @media (min-width: 1024px) {
            font-size: 18px;
          }
        }
      }
      .titles-and-tags__tags-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        .tags-list__item {
          border-radius: 10px;
          min-width: 84px;
          width: fit-content;
          padding: 3px 20px;
          background-color: $primary-color;
          color: white;
          font-weight: 700;
          font-size: 10px;
          @media (min-width: 1024px) {
            font-size: 14px;
          }
        }
      }
    }
    .infos__rating-and-host {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      @media (min-width: 1024px) {
        flex-direction: column-reverse;
      }
      .rating {
        .rating__star {
          font-size: 13px;
          @media (min-width: 1024px) {
            font-size: 24px;
          }
        }
      }
      .rating-and-host__host {
        display: flex;
        align-items: center;
        gap: 10px;
        .host__name {
          width: min-content;
          text-align: right;
          font-size: 12px;
          line-height: 17px;
          font-weight: 500;
          color: $primary-color;
          @media (min-width: 1024px) {
            font-size: 18px;
          }
        }
        .host__picture {
          width: 32px;
          height: 32px;
          border-radius: 99999px;
          @media (min-width: 1024px) {
            width: 64px;
            height: 64px;
          }
        }
      }
    }
  }
  .description-and-equipments {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @media (min-width: 1024px) {
      flex-wrap: nowrap;
      gap: 80px;
    }
    .details {
      flex:  100%;
    }
  }
}