@import "../../scss/variables";
.details {
  background-color: $bg-gray-light;
  height: fit-content;
  &:has(.show) .fa-chevron-up {
    transform: rotate(-180deg);
  }

  .details__content {
    padding-inline: 20px;
    display: grid;
    transition: grid-template-rows 0.5s ease-out, padding 0.5s ease-out;
    font-size: 12px;
    @media (min-width: 1024px) {
      font-size: 18px;
    }
    * {
      overflow: hidden;
    }
  }
  .details__content.show {
    padding-block: 20px;
    grid-template-rows: 1fr;
  }
  .details__content.hide {
    grid-template-rows: 0fr;
  }
}
