.banner {
  position: relative;
  overflow: hidden;
  height: 111px;
  width: 100%;
  border-radius: 10px;
  @media(min-width: 1024px) {
    height: 223px;
    border-radius: 25px;
  }
  .backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
  }
  .background {
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
  }
}